{% extends "base.html" %}
{% block content %}
<div class="container" style="height: 100vh;">
        <div class="row justify-content-md-center align-middle" style="height: 100vh;">
        <div class="col-8 align-self-center">
            <form method="POST">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="A sentence with a [MASK] word"
                    aria-label="Recipient's username with two button addons">
                <button class="btn btn-outline-secondary" type="button">Button</button>
                <button class="btn btn-outline-secondary" type="button submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
    </div>

{% endblock %}
```